table { text-align: center;
	margin: auto;
		background-color: rgb(192, 192, 192);}
.a 	 { 	width: 50px;
		height: 45px;
		background-color: rgb(224, 255, 255);
		color: black;
		margin: 5px;}
.b {	width: 80px;
		height: 45px;}
.d {	width: 174px;
		height: 70px;}
#ac {	height: 106px;}
#tx1 {	margin-top: 5px;
		text-align: right;}
body 
	{	background-image: url(1.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top center;
    		background-size: auto; }
img	
	{ 	width: 100% }
div 
	{	margin: 5px }	
#mb
	{	font-family: comic sans ms;
		border-radius: 0 20px}
.a1 
	{ 	background-color: white;
		padding: 5px }
#b1 
	{	background-color: rgba(255, 255, 255, 0.7);
		text-align: center;
		text-transform: uppercase;
		font-size: 150%;
		border-radius: 0 20px }
#b2 
	{ 	background-color: rgba(255, 255, 255, 0.7);
		width: 14%;
		float: left;
		border-radius: 0 20px }
#b3 
	{ 	text-align: center;
		background-color: rgba(255, 255, 255, 1);
		width: 50%;
		float: left }
#b4 
	{ 	background-color: rgba(255, 255, 255, 0.0) ;
		background-image: url(2.png);
		background-size: 100%;
		width: 30%;
		float: left }
#b5
   	{  	background-color: rgba(255, 255, 255, 0.7);
   		clear: both;
   		border-radius: 0 20px }
li
	{	list-style-type: none}
.a2 
	{	text-align: center}
#im 
	{	opacity: 0}
