body 
	{	background-image: url(1.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top center;
    		background-size: auto; }
img	
	{ 	width: 100% }
div 
	{	margin: 5px }	
#mb
	{	font-family: comic sans ms;
		border-radius: 0 20px}
.a1 
	{ 	background-color: white;
		padding: 5px }
#b1 
	{	background-color: rgba(255, 255, 255, 0.5);
		text-align: center;
		text-transform: uppercase;
		font-size: 150%;
		border-radius: 0 20px }
#b2 
	{ 	background-color: rgba(255, 255, 255, 0.7);
		width: 14%;
		float: left;
		border-radius: 0 20px }
#b3 
	{ 	background-color: rgb(0, 0, 0);
		width: 50%;
		float: left }
#b4 
	{ 	background-color: rgba(255, 255, 255, 0.0) ;
		background-image: url(2.png);
		background-size: 100%;
		width: 30%;
		float: left }
#b5
   	{  	background-color: rgba(255, 255, 255, 0.5);
   		clear: both;
   		border-radius: 0 20px }
li
	{	list-style-type: none}
.a2 
	{	text-align: center}
#im 
	{	opacity: 0}
#a 	{	margin: 20px;
		padding-left: 20px; 
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 90%;
		height: 10%; 
		font-size: 18px;
		font-family: Calibri;}

#p 	{	width: 20%;
		height: 60%;}

#b 	{	background-color: rgba(255, 255, 255, 0);
		color: rgb(0, 0, 0);
		text-align: center;}

#c 	{ 	color: white;}		
